.r_cart_add_address_modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;

  .r_cart_add_address_modal {
    height: 540px;
    padding: 10px;
    border: 1px solid black;
    background-color: #ffffff;
  }
}

.r_order_customer_comment_container {
  flex-grow: 1;
  margin-left: 20px;

  .r_order_customer_comment {
    display: flex;
    align-items: stretch;

    input {
      width: 100%;
      min-height: 50px;
      padding: 5px;
      border: 1px solid $border-color;
      outline: none;

      & + button, & + div {
        border-left: none;
      }
    }

    button + button, div + button {
      border-left: none;
    }
  }
}
