.r_cart_add_address_modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;

  .r_cart_add_address_modal {
    height: 540px;
    padding: 10px;
    border: 1px solid black;
    background-color: #ffffff;
  }
}

.customer_comment_input_group {
  padding-left: 40px;
}

.customer_comment{
  border: 1px solid #DBE0E3;
  max-width: 50%;
  margin: 15px;
  padding: 5px;
}
