#wrapwrap {
  overflow: unset;

  main {
    padding-top: 0 !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.content {
  flex: 1;
  width: 100%;
  position: relative;
  z-index: 2;
  padding-top: 64px;
  padding-bottom: 58px;
}

.content-freeze-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000067;
  z-index: 99;
}

.content-in {
  max-width: 1158px;
  margin: 0 auto;
}
