.product-top {
  padding-bottom: 24px;
  border-bottom: 1px solid $grey60;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", Arial, sans-serif;

  .form-group {
    margin: 0;
  }
}

.product-top-left {
  display: flex;
  border-radius: 4px;
  border: 1px solid $grey70;

  .form-group {
    width: 100%;

    input {
      border: none !important;
    }
  }

  .listing-name-info {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 24px;
      line-height: 24px;
      color: $grey50;
    }
  }
}

.tippy-box[data-theme~='listing-name-info'] {
  padding: 12px;
  background-color: $white;
  border: none;
  border-radius: 4px;
  filter: drop-shadow(0px 10px 10px rgba(38, 50, 56, 0.08));
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $grey10;

  .tippy-content {
    padding: 0;
  }

  .tippy-arrow {
    color: $white;
  }
}

.product-top-right {
  width: 406px;
  text-align: right;
  display: flex;
  justify-content: flex-end;

  .btn {
    + .btn {
      margin-left: 12px;
    }
  }
}

.product-is-archived {
  font-size: 17px;
  line-height: 19px;
  color: $grey40;
}

.product-row {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  @include media-breakpoint-down(lg) {
    flex-direction: column;

    .product-right {
      margin-left: 0;
    }
  }

  .product-left {

  }

  .product-right {
    width: 406px;
    @include media-breakpoint-down(xl) {
      width: unset;
      margin-left: 32px;
      flex: 1;
    }
  }
}

.product-add-to-cart {
  &.product-add-to-cart-disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}

.post-product-add-to-cart-buttons {
  position: relative;
  display: flex;
  button, a {
    z-index: 999;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.product-unavailable-message {
  display: block;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: $grey10;

  sup {
    top: 3px;
    font-size: 22px;
  }
}

//.product-image {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: 530px;
//  height: 530px;
//  margin-bottom: 20px;
//  background: $grey90;
//  @include media-breakpoint-down(xl) {
//    width: 430px;
//    height: 430px;
//  }
//
//  img {
//    width: 100%;
//    height: 100%;
//    object-fit: contain;
//  }
//}

.product-previews {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
  margin-left: -12px;
}

.product-preview {
  width: 126px;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 26px;
  margin-left: 12px;
  color: $grey10;
  cursor: pointer;
  text-align: center;

  &.active {
    .product-preview-image {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 1px solid $grey10;
      }
    }
  }
}

.product-preview-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 126px;
  position: relative;
  background: $grey90;
  margin-bottom: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product-text {
  font-size: 14px;
  line-height: 16px;
  color: $grey50;

  p {
    margin-bottom: 16px;

    &:last-child {
      margin: 0;
    }
  }
}

.line {
  border-top: 1px solid $grey60;
  margin-top: 32px;
  margin-bottom: 24px;
}

.product-group {
  margin-bottom: 32px;

  h3, .h3 {
    margin-bottom: 16px;
  }
}

.overlay_template_editor_full_view {
  .content-in {
    max-width: 1245px;
  }
  .product-row {
    flex-direction: column;

    .product-right {
      width: unset;
      margin-left: 0;
      display: flex;
      justify-content: center;
      gap: 32px;

      & > div {
        width: 406px;
      }

      .product-right-bottom {
        padding-top: 16px;

        .line {
          display: none;
        }
      }
    }
  }
}
