.o_form_view_container[data-model-name='product.template'] {
  div[name='attribute_line_ids'] {
    .badge {
      .o_tag_badge_text {
        max-width: unset !important;
      }
    }
  }

  div[name='options'] {
    .o_field_boolean {
      margin-right: 0 !important;

      & > div {
        margin-right: -2px !important;
      }
    }
  }
}
