.product_overlay_editor {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  .product_overlay_disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .product_overlay_editor_positions {
    .product_overlay_editor_position_hide {
      visibility: hidden;
      height: 0;
    }

    .product_overlay_position_editor {
      display: flex;

      .product_overlay_position_editor_tools {
        padding-right: 5px;

        .ot_add_text_block {
          position: relative;

          .ot_add_text_popover {
            position: absolute;
            left: 100%;
            top: 0;
            margin-left: 5px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            background-color: $grey10;
            z-index: 9;

            .ot_add_text_popover_top {
              textarea {
                outline: none;
              }
            }

            .ot_add_text_popover_bottom {
              display: flex;
              justify-content: end;

              button {
                margin-right: 5px;
                padding: 5px 15px;
                outline: none;
                border: none;
                background-color: $grey90;
                font-size: 14px;
                line-height: 16px;
                color: $grey10;
                transition: all 0.2s;

                &:hover {
                  background-color: darken($grey90, 10);
                }
              }
            }
          }
        }

        & > input {
          display: none;
        }

        .ot_tools_btn {
          width: 40px;
          height: 40px;
          margin: 0 0 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background-color: $grey10;
          cursor: pointer;
          outline: none;

          &:hover {
            background-color: darken($grey10, 10);
          }
        }

        i {
          font-size: 25px;
          line-height: 0;
          color: #FFFFFF;
        }

        .product_overlay_position_remove_active_obj {
          background-image: url(../../img/delete-icon.svg);
          background-position: center;
          background-size: 25px 25px;
          background-repeat: no-repeat;
        }
      }

      .product_overlay_position_container {
        //width: 500px;
        //height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        .product_overlay_position {
          position: relative;
          border: 1px solid $grey10;
          overflow: hidden;

          .product_overlay_position_loader {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 9999;

            .spinner {
              display: inline-block;
              width: 80px;
              height: 80px;
            }

            .spinner:after {
              content: " ";
              display: block;
              width: 64px;
              height: 64px;
              margin: 8px;
              border-radius: 50%;
              border: 6px solid #fff;
              border-color: #fff transparent #fff transparent;
              animation: spinner 1.2s linear infinite;
            }

            @keyframes spinner {
              0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }
          }

          img {
            max-width: 500px;
            max-height: 500px;
            object-fit: contain;
          }

          .product_overlay_position_areas_container {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            &.hide {
              z-index: -1;
            }

            .product_overlay_area {
              position: absolute;
            }
          }
        }
      }
    }
  }

  .product_overlay_editor_position_list {
    margin-top: 10px;
    display: flex;

    &_item {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      background-color: #FFFFFF;
      border: 1px solid $grey10;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        border-color: darken($grey10, 10);

        span{
          background-color: darken($grey10, 10);
        }
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }

      span {
        width: 100%;
        padding: 5px;
        background-color: $grey10;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-transform: uppercase;text-align: center;
      }

      &_selected {
        box-shadow: 0 0 2px 2px transparentize($grey10, 0.3);
      }
    }
  }
}

li[data-attribute_name='Overlay'] {
  .variant_custom_value {
    display: none !important;
  }
}
